<div class='container'>
  <ul class='sortable-list'>
    <% if @ordered_items %>
        <% @ordered_items.each do |item| %>
            <li data-position="<%=item.position%>"><%= item.name %></li>
        <% end %>
    <% end %>
  </ul>
</div>
