<div class='container'>
  <ul class='sortable-list'>
    <li>Jeff Belser</li>
    <li>Ninja Style</li>
    <li>JavaScript Seeker</li>
    <li>Stealth Mode</li>
    <li>Peace & Quiet</li>
    <li>Deep Thoughts</li>
    <li>Humble Determination</li>
    <li>Clarity of Mind</li>
  </ul>
</div>
