<!DOCTYPE html>
<html lang="en">
<head>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/author.css">

  <title>Behavior Drill - Persisting Order</title>
</head>
<body>
  <%= yield %>
  <!-- JavaScript -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/author.js"></script>
</body>
</html>
